@charset 'utf-8';
@import "func";
@import "variables";
.icon-module-sprite {
  display: inline-block;
  background-image: url(../images/modules.png);
  background-size:pxToRem(278px) pxToRem(278px);
  background-repeat:no-repeat;
  width: pxToRem(86px);
  height: pxToRem(86px);
}
.icon-module-ceo {
  @extend .icon-module-sprite;
  background-position: pxToRem(0px) pxToRem(0px);
}
.icon-module-hot {
  @extend .icon-module-sprite;
  background-position: pxToRem(-96px) pxToRem(0px);
}
.icon-module-invest {
  @extend .icon-module-sprite;
  background-position: pxToRem(0px) pxToRem(-96px);
}
.icon-module-news {
  @extend .icon-module-sprite;
  background-position: pxToRem(-96px) pxToRem(-96px);
}
.icon-module-question {
  @extend .icon-module-sprite;
  background-position: pxToRem(-192px) pxToRem(0px);
}
.icon-module-speak {
  @extend .icon-module-sprite;
  background-position: pxToRem(-192px) pxToRem(-96px);
}
.icon-module-suggest {
 @extend .icon-module-sprite;
  background-position: pxToRem(0px) pxToRem(-192px);
}
.icon-module-td-news {
  @extend .icon-module-sprite;
  background-position: pxToRem(-96px) pxToRem(-192px);
}
.icon-module-video {
  @extend .icon-module-sprite;
  background-position: pxToRem(-192px) pxToRem(-192px);
}

