@import "../sass/variables.scss";
@import "../sass/func.scss";
.content {
    height: 100%;
    padding: pxToRem(60px) 0 pxToRem(30px) 0;
}
.add-vote {
  width: pxToRem(692px);
  min-height: pxToRem(388px);
  background-color: $color-white;
  border-radius: pxToRem(10px);
  margin: auto;
  &>div {
    width: 100%;
    padding: 0 pxToRem(30px);
  }
  input {
    width: 100%;
    height: 100%;
    color: $txt-color-black;
  }
  input::-webkit-input-placeholder {
    color: $txt-color-grey;
  }
  .v-title {
    height: pxToRem(110px);
    input {
      font-size: pxToRem(36px);
      font-weight: bolder;
    }
  }
  .v-icon {
    width: pxToRem(36px);
    height: pxToRem(36px);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: pxToRem(-18px);
  }
  .v-option {
    font-size: 0;
    white-space: nowrap;
    &>div {
      display: inline-block;
      height: 100%;
      vertical-align: bottom;
    }
    &>div:first-child {
      width: pxToRem(60px);
      position: relative;
    }
    &>div:last-child {
      width: pxToRem(570px);
    }
    input {
      font-size: pxToRem(30px);
    }
    .icon-del {
      @extend .v-icon;
    }
  }

  .v-row {
    width: 100%;
    height: pxToRem(90px);
    line-height: pxToRem(90px);
    // padding-left: pxToRem(90px);
    border-top: 1px dashed $border-color;
  }
  .v-bottom {
    font-size: pxToRem($font-size-normal);
  }
  .v-add {
    height: 100%;
    width: pxToRem(250px);
    padding-left: pxToRem(60px);
    position: relative;
    color: $txt-color-blue;
    &:before {
      content: "";
      background-color: $txt-color-blue;
      border-radius: 50%;
      @extend .v-icon;
      z-index: 100;
    }
    &:after {
      content: "";
      @include background('../images/icon-plus-white.png', 18px, 18px);
      position: absolute;
      left: pxToRem(10px);
      top: 50%;
      // margin-left: pxToRem(-9px);
      margin-top: pxToRem(-9px);
      z-index: 101; 
    }
  }
  .v-btn {
    width: pxToRem(120px);
    text-align: right;
    float: right;
  }
  .v-cancle {
    color: $txt-color-grey;
  }
  .v-save {
    color: $txt-color-blue;
  }
}