@import "../sass/variables.scss";
@import "../sass/func.scss";
.content {
    height: 100%;
    overflow: hidden;
    .wrapper {
        background-color: transparent
    }
}

.contetn-header {
    background-color: $color-white;
    padding-top: pxToRem(36px);
    padding-left: pxToRem(30px);
    margin-bottom: pxToRem(20px);
    @at-root .md01 {
        white-space: nowrap;
        // height: auto;
        margin-bottom: pxToRem(40px);
        font-size: 0;
        .avatar {
            width: pxToRem(160px);
            height: pxToRem(160px);
            border-radius: pxToRem(160px);
            display: inline-block;
        }
        .userInfo-right {
            width: pxToRem(550px);
            float: right;
            .username {
                font-size: pxToRem($font-size-normal);
                height: pxToRem($font-size-normal);
                color: $txt-color-black;
                position: relative;
                padding-bottom: pxToRem(20px);
                margin-top: pxToRem(8px);
                box-sizing: content-box;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &:after {
                    @include border(bottom, $border-color);
                }
            }
            .other-baseinfo {
                font-size: 0;
                white-space: nowrap;
                overflow: hidden;
                padding-top: pxToRem(20px);
            }
            .baseinfo-row {
                display: inline-block;
                vertical-align: middle;
                font-size: pxToRem($font-size-normal-small);
                color: $txt-color-black;
               
                margin-right: pxToRem(110px);
                .label {
                    font-size: pxToRem(22px);
                    color: $txt-color-grey;
                    margin-top: pxToRem(20px);
                     text-align: center;
                }
            }
        }
    }
    @at-root .level-wrapper {
        font-size: 0;
        padding-bottom: pxToRem(20px);
        position: relative;
        &:after {
            @include border(bottom, $border-color);
        }
        .icon-star {
            @include background("../images/icon-star.png", 26px, 32px);
            vertical-align: middle;
        }
        .level-name {
            display: inline-block;
            vertical-align: middle;
            color: $txt-color-black;
            font-size: pxToRem($font-size-small);
            margin-left: pxToRem(20px);
        }
    }
    @at-root .md02 {
        font-size: 0;
        padding: pxToRem(12px) 0;
        height: pxToRem(88px);
        position: relative;
        .integral {
            display: inline-block;
            margin-right: pxToRem(60px);
            line-height: pxToRem(64px);
            .icon-integral {
                display: inline-block;
                vertical-align: middle;
                @include background("../images/icon-integral.png", 28px, 34px);
            }
            font {
                display: inline-block;
                vertical-align: middle;
                font-size: pxToRem(22px);
                margin-left: pxToRem(8px);
                min-width: pxToRem(106px);
            }
        }
        .prestige {
            display: inline-block;
            line-height: pxToRem(64px);
            .icon-prize {
                display: inline-block;
                vertical-align: middle;
                @include background("../images/icon-prize.png", 31px, 34px);
            }
            font {
                display: inline-block;
                vertical-align: middle;
                font-size: pxToRem(22px);
                margin-left: pxToRem(8px);
                min-width: pxToRem(106px);
            }
        }
        .btn-message {
            border-style: solid;
            border-width: 1px;
            border-color: rgb(25, 166, 255);
            border-radius: pxToRem(10px);
            font-size: pxToRem($font-size-small);
            width: pxToRem(144px);
            height: pxToRem(64px);
            line-height: pxToRem(60px);
            text-align: center;
            color: $txt-color-blue;
            float: right;
            margin-right: pxToRem(28px);
        }
    }
}

.dynamic {
    width: 100%;
    background-color: $color-white;
    // padding-top: pxToRem(40px);
    padding-left: pxToRem(30px);
    .label {
        font-size: pxToRem($font-size-normal);
        color: $txt-color-black;
        // margin-bottom: pxToRem(20px);
        height: pxToRem(90px);
        line-height: pxToRem(90px);
        // padding-left: pxToRem(30px);
        border-bottom: 1px solid $border-color;
        &:before {
            border-left: pxToRem(8px) solid $txt-color-blue;
            content: "";
            height: pxToRem(30px);
            margin-right: pxToRem(14px);
        }
    }
    .post-list {
        padding-left: 0;
        .author {
            color: $txt-color-grey-dark;
        }
    }
}
