@charset 'utf-8';
@import "reset";
@import "func";
@import "variables";
@import "sprite";
.content {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: pxToRem(90px);
    box-sizing: border-box;
    overflow: scroll;
    background-color: $color-white-light;
}

* {
    box-sizing: border-box;
}

i,
span {
    display: inline-block;
}

.icon-arrow-grey {
    @include background('../images/arrow-grey.png', 13px, 23px);
}

.btn-blue {
    border-radius: pxToRem(10px);
    background-image: -moz-linear-gradient( 90deg, rgb(25, 166, 255) 0%, rgb(25, 187, 255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(25, 166, 255) 0%, rgb(25, 187, 255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(25, 166, 255) 0%, rgb(25, 187, 255) 100%);
    box-shadow: 0px pxToRem(4px) pxToRem(10px) 0px rgba(25, 166, 255, 0.2);
    width: pxToRem(140px);
    height: pxToRem(60px);
    line-height: pxToRem(60px);
    font-size: pxToRem(26px);
    color: #fff;
    text-align: center;
}
