@import "../sass/variables.scss";
@import "../sass/func.scss";
.m-cont {
    width: 100%;
    height: 100%;
    background-color: $color-white;
    padding: pxToRem(80px) pxToRem(30px) 0 pxToRem(30px);
    font-size: 0;
}

.item-type {
    width: 100%;
    font-size: pxToRem($font-size-24);
    color: $txt-color-black;
    // padding: 0 pxToRem(30px);
}

.score {
    width: 100%;
    font-size: 0;
    i {
        width: pxToRem(88px);
        height: pxToRem(88px);
        line-height: pxToRem(88px);
        text-align: center;
        border-radius: pxToRem(10px);
        border: 1px solid $border-color;
        font-size: pxToRem($font-size-36);
        color: $txt-color-grey;
        margin-left: pxToRem(30px);
        margin-top: pxToRem(30px);
    }
    &>i:nth-child(6n+1) {
    	margin-left: 0 !important;
    }
    .active {
        background-color: $txt-color-blue;
        border-width: 0 !important;
        color: $color-white !important;
    }
}

.item-type:nth-of-type(n+2) {
    margin-top: pxToRem(100px);
}

.prestige-container {
    width: 100%;
    height: pxToRem(90px);
    line-height: pxToRem(90px);
    // padding: 0 pxToRem(30px);
        border-bottom: 1px solid $border-color;
    input {
        width: 100%;
        height: 100%;
        font-size: pxToRem(30px);
        color: $txt-color-black;
    }
    input::-webkit-input-placeholder {
    	color: $txt-color-grey-light;
    }
}
.msg-cont {
	width: 100%;
	margin-top: pxToRem(40px);
	font-size: 0;
	i {
		height: pxToRem(50px);
		line-height: pxToRem(50px);
		padding: 0 pxToRem(20px);
		border-radius: pxToRem(10px);
		font-size: pxToRem($font-size-24);
		margin-right: pxToRem(30px);
		margin-bottom: pxToRem(30px);
	}
	span {
		width: 100%;
	}
	.msg-default {
		background-color: #f6f6f6;
		color: $txt-color-grey;
	}
	.msg-add {
		border: 1px solid $txt-color-blue;
		color: $txt-color-blue;
	}
	.active {
		background-color: $txt-color-blue !important;
		color: $color-white !important;
		border: 0 !important;
	}
}
.btn-mark {
	width: 100%;
	height: pxToRem(86px);
	line-height: pxToRem(86px);
	margin-top: pxToRem(60px);
	font-size: pxToRem(36px);
}



