@import "../sass/variables.scss";
@import "../sass/func.scss";
.content {
    height: 100%;
    overflow: hidden;
    .scroll-wrapper {
        padding-left: pxToRem(30px);
        width: 100%;
        background-color: #fff;
    }
}
