@import "../sass/variables.scss";
@import "../sass/func.scss";
.content {
    height: 100%;
    overflow: hidden;
    // .post-list {
        .scroll-wrapper {
            padding-left: pxToRem(30px);
            width: 100%;
            background-color: #fff;
        }
        @at-root .post-item {
            padding: pxToRem(30px) 0;
            border-bottom: 1px solid $border-color;
            font-size: 0;
            .line01 {
                font-size: pxToRem($font-size-normal);
                line-height: pxToRem(48px);
                padding-right: pxToRem(30px);
                margin-bottom: pxToRem(20px);
                color: $txt-color-black;
            }
            .line02 {
                width: 100%;
                font-size: 0;
                color: $txt-color-grey;
                .post-time {
                    font-size: pxToRem($font-size-small);
                    height: pxToRem($font-size-small);
                    vertical-align: middle;
                    display: inline-block;
                }
                .item-message {
                    vertical-align: middle;
                    display: inline-block;
                    float: right;
                    width: pxToRem(270px);
                    white-space: nowrap;
                    span {
                        width: pxToRem(152px);
                        display: inline-block;
                        height: pxToRem(22px);
                        line-height: pxToRem(22px);
                        background-repeat: no-repeat;
                        background-position: left;
                        font-size: pxToRem($font-size-small);
                        vertical-align: middle;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        &.post-reply {
                            width: pxToRem(110px);
                        }
                    }
                }
            }
        }
    // }
}
