@import "../sass/variables.scss";
@import "../sass/func.scss";
.content {
    height: 100%;
    overflow: hidden;
    // .post-list {
    .scroll-wrapper {
        padding-left: pxToRem(30px);
        width: 100%;
        background-color: #fff;
    }
    @at-root .post-item {
        padding: pxToRem(30px) 0;
        border-bottom: 1px solid $border-color;
        font-size: 0;
        .line01 {
            font-size: pxToRem($font-size-normal);
            line-height: pxToRem(48px);
            padding-right: pxToRem(30px);
            margin-bottom: pxToRem(20px);
            color: $txt-color-black;
        }
        .line02 {
            width: 100%;
            font-size: 0;
            color: $txt-color-grey;
            .post-time {
                font-size: pxToRem($font-size-small);
                height: pxToRem($font-size-small);
                vertical-align: middle;
                display: inline-block;
            }
            .item-message {
                width: 100%;
                color: $txt-color-grey;
                font-size: 0;
                float: right;
                width: pxToRem(270px);
                white-space: nowrap;
                div {
                    width: pxToRem(152px);
                    display: inline-block;
                    vertical-align: middle;
                    height: pxToRem(28px);
                    line-height: pxToRem(28px);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    &.post-reply {
                        width: pxToRem(110px);
                    }
                    span {
                        font-size: pxToRem($font-size-small);
                        display: inline-block;
                        vertical-align: middle;
                        &:last-child {
                            margin-left: pxToRem(10px);
                        }
                    }
                }
            }
        }
    }
    // }
}
