@import "../sass/variables.scss";
@import "../sass/func.scss";
.content {
    height: 100%;
    overflow: hidden;
     .scroll-wrapper {
            padding-left: pxToRem(30px);
            width: 100%;
            background-color: #fff;
        }
    // .reply-list {
  //     padding-left: pxToRem(30px);
  //     width: 100%;
  //     height: 100%;
  //     background-color: #fff;
  //     overflow: auto;

        @at-root .reply-item {
            padding: pxToRem(30px) 0;
            border-bottom: 1px solid $border-color;
            font-size: 0;
            .line01 {
                font-size: pxToRem($font-size-normal);
                color: $txt-color-black;
                line-height: pxToRem(48px);
                padding-right: pxToRem(30px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-all;
                margin-bottom: pxToRem(22px);
            }
            .line02 {
                font-size: pxToRem($font-size-small);
                height: pxToRem(64px);
                line-height: pxToRem(64px);
                color: $txt-color-grey;
                background-color: #f6f6f6;
                padding-left: pxToRem(20px);
                margin-right: pxToRem(30px);
                margin-bottom: pxToRem(20px);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .line03 {
                font-size: pxToRem($font-size-small);
                color: $txt-color-grey;
            }
        }
    // }
}
