@import "../sass/variables.scss";
@import "../sass/func.scss";
.pc {
	background-color: $color-white;
}
.p-txt1 {
	width: 100%;
	height: pxToRem(86px);
	line-height: pxToRem(86px);
	// font-size: pxToRem(24px);
	font-size: pxToRem($font-size-small);
	white-space: nowrap;
	padding: 0 pxToRem(30px);
	// span {
	// 	width: 50%;
	// }
	&>span:first-child {
		color: $txt-color-black;
	}
	&>span:last-child {
		color: $txt-color-blue;
		text-align: right;
		position: relative;
		float: right;
		// padding-left: pxToRem(36px);
		vertical-align: middle;
		font-size: 0;
		i{
			vertical-align: middle;
			line-height: pxToRem(28px);
			display: inline-block;
			font-size: pxToRem($font-size-small)
		}
		.icon-prule {
			// content: '?';
			width: pxToRem(26px);
			height: pxToRem(28px);
			border-radius: 50%;
			border: 1px solid $txt-color-blue;
			// position: absolute;
			// top: 50%;
			// left: 0;
			// margin-top: pxToRem(-14px);
			text-align: center;
			
			margin-right: pxToRem(10px);
			
		}
	}
}
.ml-container {
	width: 100%;
	height: pxToRem(90px);
	overflow: hidden;
	// border-bottom: 1px solid $border-color;
}
.msg-cont {
	white-space: nowrap;
	// overflow: auto;
	overflow-x: auto;
	height: pxToRem(96px);
	margin-top: 0 !important;
	position: relative;
	&>i:first-child {
		margin-left: pxToRem(30px);
	}
	.module-reload {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	// overflow: hidden;
	// span {
	// 	white-space: nowrap;
	// 	overflow: auto;
	// 	width: 100%;
	// }
}
.p-form {
	width: 100%;
	padding-left: pxToRem(30px);
	border-top: 1px solid $border-color;
	.p-title {
		width: 100%;
		height: pxToRem(90px);
		line-height: pxToRem(90px);
		font-size: 0;
		padding-right: pxToRem(30px);
		border-bottom: 1px solid $border-color;
	}
	input, textarea {
		width: 100%;
		height: 100%;
		color: $txt-color-black !important;
	}
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: $txt-color-grey;
		font-weight: normal;
	}
	.i-title {
		// font-size: pxToRem(36px);
		// overflow: scroll;
		font-size: pxToRem($font-size-normal);
		font-weight: bold;
	}
	.p-content {
		width: 100%;
		height: pxToRem(340px);
		font-size: 0;
		padding-right: pxToRem(30px);
	}
	.i-content {
		// color: $txt-color-black;
		font-size: pxToRem($font-size-normal-small);
		padding: pxToRem(30px) 0;
		resize: none;
	}

}



