@import "../sass/variables.scss";
@import "../sass/func.scss";
.level {
    color: $txt-color-grey;
    font-size: pxToRem(20px);
    width: pxToRem(120px);
    height: pxToRem(26px);
    line-height: pxToRem(26px);
    text-align: center;
    border-radius: pxToRem(13px);
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
}
