@import "../sass/variables.scss";
@import "../sass/func.scss";
.content {
    @at-root .content-header {
        background-color: #fff;
        width: 100%;
        padding: 0 pxToRem(30px);
        color: $txt-color-black;
        height: pxToRem(92px);
        line-height: pxToRem(92px);
        font-size: 0;
        .session-name {
            font-size: pxToRem(30px);
            display: inline-block;
            &:before {
                border-left: pxToRem(8px) solid $txt-color-blue;
                content: "";
                height: pxToRem(30px);
                margin-right: pxToRem(14px);
            }
        }
        .btn-wrapper {
            float: right;
            height: 100%;
            @at-root .btn {
                font-size: pxToRem(30px);
                color: rgba(51, 51, 51, 0.5);
                display: inline-block;
                line-height: pxToRem(92px);
                position: relative;
                &.btn-all {
                    margin-right: pxToRem(84px);
                }
                &.btn-essence {
                    margin-right: pxToRem(20px);
                }
                &.active {
                    color: $txt-color-blue;
                    &:after {
                        content: "";
                        border-bottom: pxToRem(4px) solid $txt-color-blue;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }
    @at-root .list-all {
        margin-top: pxToRem(20px);
        .list-top {
            margin-bottom: pxToRem(20px);
            background-color: #fff;
            padding-left: pxToRem(30px);
            .top-item {
                font-size: 0;
                line-height: pxToRem(90px);
                border-bottom: 1px solid $border-color;
                .post-title {
                    font-size: pxToRem(28px);
                    color: $txt-color-black;
                    display: inline-block;
                    vertical-align: middle;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: pxToRem(630px);
                }
                &:last-child {
                    border-bottom: none;
                }
            }
            .top-label {
                width: pxToRem(74px);
                height: pxToRem(34px);
                line-height: pxToRem(32px);
                font-size: pxToRem(24px);
                color: #ff8420;
                border: 1px solid #ff8420;
                margin-right: pxToRem(10px);
                border-radius: pxToRem(4px);
                display: inline-block;
                vertical-align: middle;
                text-align: center;
            }
        }
        .btn-wrapper {
            width: 100%;
            
            padding-left: pxToRem(30px);
            background-color: #fff;
            white-space: nowrap;
            font-size: 0;
            .btn {
                width: 50%;
                text-align: center;
                border-bottom: 1px solid $border-color;
            }
        }
        .list-newpost,
        .list-newreply {
            padding-left: pxToRem(30px);
            background-color: #fff;
            .item-title {
                font-size: 0;
                font {
                    display: inline-block;
                    vertical-align: middle;
                }
                .level {
                    color: $txt-color-grey;
                    font-size: pxToRem(20px);
                    width: pxToRem(120px);
                    height: pxToRem(26px);
                    line-height: pxToRem(26px);
                    text-align: center;
                    border-radius: pxToRem(13px);
                    border: 1px solid #ccc;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
    .list-essence {
        li:first-child {
        border-top: 1px solid $border-color;
        }
    }
}
